.img {
  width: 250px;
  height: 250px;
  margin: 30px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.text {
  padding-left: 30px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.products:hover {
  cursor: pointer;
}
